#container {
    margin-top: 50px;
    border: 5px solid #aaa;
    padding: 20px;
    text-align: center;
}

input, select, button {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
}

#cookie-notice {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

.hidden {
    display: none;
}